/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nova+Square&display=swap'); */

img {
  max-width: 100%;
  display: block;
}

/* .footer {
  background: #6BD12F;
  color: #fff;
  height: 300px;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 40px);
  margin: 0 auto;
} */