/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nova+Square&display=swap'); */

.crud {
  padding: 60px 40px;
  height: 90vh;
}

.crud_container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.crud_container-item {
  padding: 10px;
}

.crud_container-poster {
  background: violet;
  flex: 1 1 35%;
}

.crud_container-desc {
  background: tomato;
  flex: 1 1 65%;
}